
#logoimg{
	float: left;
	width: 20%;
	/*display: inline-block;*/
	margin: 2%;
	border: 2px solid white;
}

#tabs{
	padding-bottom: -1px;
}

.nav-link{
	font-size: 2.5vh;
	font-weight: bold;
	
}

.nav-item{
	border: 2px solid black;
	border-radius: 10px;
}
.nav-item:hover{
	border-radius: 10px;
}

.nav-link:hover{
	color: red;
}

.tabtitle{
	background-color: red;
	font-size: 6vw;
	font-weight: bold;
	text-align: center;
	color: white;
	font-family: Century Gothic;
}
.contentwindow{
	border: 3px solid black;
	border-radius: 10px;
	padding : 10px;
	margin: 10px;
}

.right{
	float: right;
}

.left{
	float: left;
}

.footer{
	background-color: black;
	color: white;
	font-weight: bold;
}

li{
	background: white;
	width: 14.8%;
	text-align: center;
	/*border-radius: 10px;*/
}

header{
	background-image: url(http://i.imgur.com/A7s5V15.jpg);
	background-size: 100%;
	background-attachment: fixed;
	padding-bottom: 15vh;
}



ul{
	display: block;
	vertical-align: center;
	padding-top: 7.01%;

}

@media screen and (max-width: 800px) and (min-width: 500px){
	li{
		width: 31%;
		margin: 5px;
	}
	#logoimg{
		margin-bottom: 65px;
		width: 28%
	}
}

@media screen and (max-width: 500px) {
	#logoimg{
		width: 40%;
	}
}