
#logoimg{
	float: left;
	width: 20%;
	/*display: inline-block;*/
	margin: 2%;
	border: 2px solid white;
}

#tabs{
	padding-bottom: -1px;
}

#indexbanner1{
	background-attachment: fixed;
	background-image: url(http://i.imgur.com/ag3LVCT.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
}

#aboutbanner1{
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a3/UMichAngellHall.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
}

.nav-link{
	font-size: 1.5vw;
	font-weight: bold;
	
}

.nav-item{
	border: 2px solid black;
	border-radius: 10px;
}
.nav-item:hover{
	border-radius: 10px;
}

.nav-link:hover{
	color: #DD0000;
}

.tabtitle{
	background-color: #DD0000;
	font-size: 6vw;
	font-weight: bold;
	text-align: center;
	color: white;
	font-family: Century Gothic;
}
.contentwindow{
	border: 3px solid black;
	border-radius: 10px;
	padding : 10px;
	margin: 60px;
	text-align: center;
}

.right{
	float: right;
}

.left{
	float: left;
}

.footer{
	background-color: black;
	color: white;
	font-weight: bold;
	bottom: 0px;
	position: fixed;
	width: 100%; 
}
.whitebacktext{
	background-color: white;
	font-size: 30px;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid black;
}

.centerbanner{
	text-align: center;
	margin-top: 80px;
}

.footerspace{
	height: 90px;
}

.gridimg{
	width: 60%;
	display:block;
    margin:auto;
    border: 2px solid black;
    border-radius: 10px;
}

.gridimg:hover{
	width: 70%;

}

.orderimg{
	opacity: 0.4;
}
.col-sm-4{
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}

li{
	background: white;
	width: 14.8%;
	text-align: center;
	/*border-radius: 10px;*/
}

header{
	background-image: url(http://i.imgur.com/A7s5V15.jpg);
	background-size: 100%;
	background-attachment: fixed;
	padding-bottom: 15vh;
}



ul{
	display: block;
	vertical-align: center;
	padding-top: 7.01%;

}

@media screen and (max-width: 1000px) and (min-width: 600px){
	li{
		width: 31%;
		margin: 5px;
	}
	ul{
		padding-top: 2%;
	}
	#logoimg{
		/*margin-bottom: 65px;*/
		width: 28%
	}
	.nav-link{
		font-size: 2.5vw;
	}
}

@media screen and (max-width: 600px) {
	#logoimg{
		width: 40%;
		margin-bottom: 50px;
	}
	.nav-link{
		font-size: 2.5vw;
	}
	.nav-item{
		padding: 0px;
	}
	footer{
		font-size: 10px;
	}
	li{
		width: 25%
	}
	.tabtitle{
		font-size: 6vh;
	}
}