{%extends "templates/base.html" %}
{% block content %}
<div class = "tabtitle">
	About
</div>
<div class = "content">
	<div class = "container">
		<div class= "contentwindow">
			<h1>
				About Cobab's Pizza
			</h1>
			<h2>
				Cobab's Pizza is a purely fictional pizza restaurant. 
			</h2>
			<p>
				Cobab's Pizza doesn't exist in real life and is the brainchild of Alden Wong. <br>
				The inspiration for Cobab's Pizza comes from the phrase "Cobab's trend is toward less formal clothing". <br>
				The focus for Cobab's Pizza is towards less formal cuisine and it starts with pizza. <br>
				Enjoy Cobab's. 
			</p>
		</div>
	</div>
	<div id = "aboutbanner1">
		<div class = "container">
			<div class = "centerbanner">
				<span class = "whitebacktext">
					How Cobab's Started
				</span>
			</div>
		</div>	
	</div>
	<div class = "container">
		<div class = "contentwindow">
			<h1>
				How Cobab's Started
			</h1>
			<h2>
				Cobab's doesn't exist as a real pizza restaurant. 
			</h2>
			<p>
				This fictional restaurant is the theme for this website. <br>
				This website was created for the Umich SI 206 course.  <br>
				<a href="https://www.si.umich.edu/"> Learn More About UMSI Here</a> <br>
				Enjoy Cobab's
			</p>
		</div>
	</div>
</div>
	{% endblock %}