{%extends "templates/base.html" %}
{% block content %}
<div class = "tabtitle">
	About
</div>
<div class = "content">
	<div class = "container">
		<div class= "contentwindow">
			<h1>
				About Cobab's Pizza
			</h1>
			<h2>
				Cobab's Pizza is a purely fictional pizza restaurant. 
			</h2>
			<p>
				Cobab's Pizza doesn't exist in real life and is the brainchild of Alden Wong. <br>
				The inspiration for Cobab's Pizza comes from the phrase "Cobab's trend is toward less formal clothing". <br>
				The focus for Cobab's Pizza is towards less formal cuisine and it starts with pizza. <br>
				Enjoy Cobab's. 
			</p>
		</div>
	</div>
</div>
	{% endblock %}