<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>
<body>
	<header>
		<div id = "tabs">
			<img src="http://i.imgur.com/uVGvVGE.jpg" class = "img-rounded" id="logoimg">
			<ul class = "nav nav-pills ">
				<li class = "nav-item"><a class = "nav-link active" href = "index.html">{{Home}}</a></li>
				<li class = "nav-item"><a class = "nav-link" href = "menu.html">{{menu}}</a></li>
				<li class = "nav-item"><a class = "nav-link" href = "about.html">{{about}}</a></li>
				<li class = "nav-item"><a class = "nav-link" href = "online.html">{{online}}</a></li>
				<li class = "nav-item"><a class = "nav-link" href = "login.html">{{Login}}</a></li>
			</ul>
		</div>

	</header>
	{% block content %}

	{% endblock %}
	<footer class= "footer">
		<div class = "container">
			<div>
				<p>
					Location: 1234 Less Formal Road <br>
							  Clothing City, MI
				</p>
			</div>
			<div>
				<p>Dine in and Take out</p>
			</div>
		</div>
	</footer>
	
</body>
</html>