{%extends "templates/base.html" %}
{% block content %}
	{{message}}
<div class = "tabtitle">
	Contact
</div>
<div class = "content">
	<div class = "container">
		<div class= "contentwindow">
			<h1>
				Contact us
			</h1>
			<h2>
				This restuarant doesn't exist so don't bother trying.
			</h2>
			<h3>
				Our Phone Lines 				
			</h3>
			<p>
				Line #1: 734-555-1234 <br>
				Line #2: 734-555-4321
			</p>
			<h3>
				Our Location
			</h3>
			<p>
				1234 Less Formal Road <br>
				Clothing City, MI
			</p>
		</div>
	</div>
</div>
	{% endblock %}