{% extends "templates/base.html" %}
{% block content %} 
<div class = "tabtitle">
	Cobab's Pizza 
</div>
<div class = "content">
	<div class = "container">
		<div class= "contentwindow">
			<h1>
				Welcome to Cobab's Pizza 
			</h1>
			<p>
				This is Cobab's Pizza. We serve pizzas and only pizzas. Our goal is to work towards less formal cuisine. 
			</p>
			<p>
				Enjoy Cobab's
			</p>
		</div>
	</div>
	<div id = "indexbanner1"> 
		<div class = "container">
			<div class = "centerbanner">
				<span class = "whitebacktext">
					Inside Cobab's
				</span>
			</div>
		</div>
	</div>
	<div class = "container">
		<div class = "contentwindow">
			<h1>
				Inside Cobab's
			</h1>
			<p>
				Cobab's Pizza has a large dining area for guests. The area is designed with luxury in mind. <br>
				Just kidding. We don't exist and the above picture is of a different restaurant. <br>
				Enjoy Cobab's
			</p>	
		</div>
	</div>
</div>
{%endblock%}