{%extends "templates/base.html" %}
{% block content %}
<div class = "tabtitle">
	Menu
</div>
<div class = "content">
	<div class = "container">
		<div class= "contentwindow">
			<h1>
				Check out our menu. 
			</h1>
			<h2>
				At Cobab's, the customer is never right. <br>
				You have to eat what we serve from the menu.
			</h2>
			<p>
				Enjoy Cobab's
			</p>
		</div>
		<div class = "contentwindow">
			<h1>Pizzas</h1>
		</div>
		<div class = "row">
			<div class = "col-sm-4">
				<img src="static/pepperoni.png" class="gridimg">
				Pepperoni Pizza
			</div>
			<div class = "col-sm-4">
				<img src="static/cheese.png"class="gridimg">
				Cheese Pizza
			</div>
			<div class = "col-sm-4">
				<img src="static/hamolives.png"class="gridimg">
				Ham and Olive Pizza
			</div>
		</div>
		<div class = "row">
			<div class = "col-sm-4">
				<img src="static/bacontomato.png" class="gridimg">
				Bacon and Tomato Pizza
			</div>
			<div class = "col-sm-4">
				<img src="static/mushroompepperoni.png" class="gridimg">
				Mushroom and Pepperoni Pizza
			</div>
			<div class = "col-sm-4">
				<img src="static/pulledpork.png" class="gridimg">
				Pulled Pork Pizza
			</div>
		</div>
		<div class = "contentwindow">
			<h1>Drinks</h1>
		</div>	
		<div class = "row">
			<div class = "col-sm-4">
				<img src="static/water.png" class="gridimg">
				Water
			</div>
			<div class = "col-sm-4">
				<img src="static/milkshake.png" class="gridimg">
				Milkshake
			</div>
			<div class = "col-sm-4">
				<img src="static/softdrink.png" class="gridimg">
				Soft Drink
			</div>
		</div>
	</div>
</div>
{%endblock%}